body {
	background: #fafafa;
}
.mainbox{
	background: #c5faea;
}
.main{
	width: 1000px;
	height: 537px;
	margin: 0px auto;
	background: url('/images/loginbg.jpg') no-repeat;
}
.main .loginBox{
	width: 320px;
	height: 290px;
	padding: 120px 15px 15px 15px;
	background: #fcfcfc url('/images/loginTopbg.jpg') 20px 30px no-repeat;
	float: right;
	margin: 60px 0px 0 0;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.main .loginBox div{
	width: 318px;
	margin: 0 auto;
}
.main .loginBox div input{
	height: 47px;
	border-left: 1px solid #e6e6e6;
	width: 245px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 48px;
	color: #cccccc;
	outline: none;
}
.main .loginBox div.username{
	background: url('/images/loginRegIcon.jpg') no-repeat;
	margin-bottom: 30px;
	height: 48px;
	width: 271px;
	padding-left: 47px;
	border: 1px solid #e6e6e6;
}
.main .loginBox div.password{
	background: url('/images/loginRegIcon.jpg') 0 -48px no-repeat;
	margin-bottom: 30px;
	height: 48px;
	width: 271px;
	padding-left: 47px;
	border: 1px solid #e6e6e6;
}
.main .loginBox div.reme{
	margin-bottom: 20px;
}
.main .loginBox div.reme a.remember{
	display: block;
	float: left;
	padding-left: 20px;
	line-height: 15px;
	width: 75px;
	height: 15px;
	font-size: 12px;
	background: url('/images/jzpass.jpg') no-repeat;
	color: #999999;

}
.main .loginBox div.reme a.remember.active{
	background: url('/images/jzpass_active.jpg') no-repeat;
}
.main .loginBox div.reme a.forgot{
	float: right;
	line-height: 15px;
	font-size: 12px;
	color: #999999;
}
.main .loginBox div.loginButton{
	margin-bottom: 25px;
}
.main .loginBox div.loginButton a{
	display: block;
	width: 318px;
	height: 44px;
	margin: 0px auto;
	text-align: center;
	line-height: 44px;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	background: #ea5604;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.main .loginBox p{
	text-align: center;
	font-size: 12px;
	color: #a8a8a8;
}
.main .loginBox p a{
	color: #a8a8a8;
	text-decoration: underline;
}












