body{
	background: #fafafa;
}
.banner{
	min-width: 1000px;
	background: #7ecc98;
	margin-bottom: 10px;
}
.banner .bannerbox{
	margin: 0px auto;
	text-align: center;
	overflow: hidden;
}

.main{
	width: 1000px;
	margin: 0px auto;
}